<div class="row" style="background-color: #333; margin-bottom: 3%; padding: 1%">

    <div class="col-xs-12 col-md-8">

        <div class="topnav" id="myTopnav">
            <a *ngIf="!auth.registered" routerLink="/app-register" routerLinkActive="active">Registration</a>
            <a *ngIf="auth.registered && !auth.loggedIn" routerLink="/app-login" routerLinkActive="active">Login</a>
            <a *ngIf="auth.loggedIn" routerLink="/app-dashboard" routerLinkActive="active">Dashboard</a>
            <a *ngIf="auth.loggedIn" routerLink="/app-import-private-key" routerLinkActive="active">Import Key</a>
            <a *ngIf='this.global.accounts.length > 0' routerLink="/app-buy-kuscoin" routerLinkActive="active">Buy KusCoin</a>
            <a *ngIf='this.global.accounts.length > 0' routerLink="/app-send-eth" routerLinkActive="active">Send Eth</a>
            <a *ngIf='this.global.accounts.length > 0' routerLink="/app-show-qrcode" routerLinkActive="active">Show QR</a>
            <a *ngIf="auth.loggedIn" routerLink="/app-login" (click)="logOff()" routerLinkActive="active">Logoff</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="responsiveMenuFunction()">&#9776;</a>
        </div>


    </div>
    <div *ngIf='this.global.accounts.length > 0' class="col-xs-12 col-md-4" style="padding-top: 10px">

        <select id="UserKeys" class="form-control" [(ngModel)]="this.global.selectedAccount" (ngModelChange)="selectedUserChanged()">
            <option *ngFor="let u of this.global.accounts; let i = index" [ngValue]="u">{{u.address}}</option>
        </select>

    </div>
</div>