<form [formGroup]="form" class="form-group" (ngSubmit)="login()">
  <div class="row">
    <div class="form-group col-xs-12 col-md-6 col-lg-4">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" [formGroup]="form" [(ngModel)]="password" class="form-control">
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <input type="submit" class="btn btn-primary col-xs-2 col-md-1 col-lg-1" style="margin-left: 1%" value="submit">
  </div>
</form>